body {
    background-color: #04f5ff;
}


.header {
    color: #38003c;
    background-color: #00ff85;
    display:flex;
    justify-content: space-between;
    padding: 0 20px;
}
main{
    background-color:#ffffff;
    margin: 50px  0 ;
    padding-top:50px;
}

p{
    color: #38003c;
    padding: 10px 25%;
    text-align: center;
}

.button{
    display: block;
    text-align: center;
    padding:10px;
    margin: 0 auto;
    width:200px;
}

.center{
    text-align: center;
}

